body {
    font-family: Misa fonts;
}

@font-face {
    font-family: Misa fonts;
    src: url(../assets/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: Misa fonts Bold;
    src: url(../assets/font/GoogleSans-Bold.otf);
}

@font-face {
    font-family: Misa fonts Italic;
    src: url(../assets/font/GoogleSans-Italic.otf);
}

.row {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.m-button {
    height: 40px;
    background-color: #019160;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    color: #ffffff;
    border: none;

}

.m-button:hover {
    background-color: #2fbe8e;
}

.m-button:active {
    background-color: #01b075;
}

.m-button-icon {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url("../assets/icon/add.png");
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: center;
    padding-left: 40px;
}

.combobox {
    border-width: 1px;
    border-color: #bbbbbb;
    border-radius: 4px;
    height: 40px;
    outline: none;
}

.input {
    border-width: 1px;
    border-color: #bbbbbb;
    border-radius: 4px;
    height: 40px;
    border-style: solid;
    padding: 0 16px;
    outline: none;
}

.input:hover {
    border-color: #019160;
}

.toast {
    position: relative;
    bottom: 16px;
    right: 16px;
    width: 300px;
    height: 48px;
    border-radius: 4px;
    line-height: 48px;
    padding-left: 40px;
    box-shadow: 0px 3px 6px #000;
    .toast+.toast: 10px;
}

.toast__icon {
    float: left;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-image: url(..assets/icon/warning.png);
    width: 24px;
    height: 24px;
    background-color: #bbbbbb;
    background-repeat: no-repeat;
    background-position: center;
}

.toast__text {}

.toast__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-image: url(../assets/icon/x.svg);
}

.toast__button:hover {
    background-color: #bbbbbb;
    cursor: pointer;
    border-radius: 4px;
}

.toast-list {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.dialog {
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
}

.dialog__button {
    position: absolute;
    right: 0px;
    top: 0px;
}

.dialog__header {
    padding-left: 24px;
    padding-top: 24 px;
    padding-right: 24px;
    padding-bottom: 24 px;
}

.dialog__footer {
    height: 60px;
    background-color: #dddddd;
}